PORT=3000
DATABASE_URL="postgresql://superbom:superbom_password@localhost:5432/superbom_db?schema=public"
JWT_ACCESS_SECRET="superbom-access-secret-key-12345-very-secret-2026"
JWT_REFRESH_SECRET="superbom-refresh-secret-key-12345-very-secret-2026"

# MailHog SMTP Configuration (Local)
SMTP_HOST="localhost"
SMTP_PORT=1025
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="fechamento@superbom.local"
